*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
    background-image: url("./img/background_image.jpg"); */
    color: white;
    background-color: aqua;
}
html{
    font-size: 1.2rem;
}
#container{
    max-width: 1240px;
    margin: auto;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    /* padding: 40px; */
}
span{
    color: red;
}
#form-container{
    /* position: relative; */
    max-width: 700px;
    margin: auto;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;

}
h1, h3{
    color: white;
}
